extends layout

block content
	.post-container
		img.about-img(src='/images/profile.jpeg')
		p.about-text
			| Hi, I am Saroj Kumar Sahoo.
			br
			| I built this project just for practice and testing perpose only.
			br
			| Use of this site may subject to the owner(me) and giving credits to the owner is recommended.