doctype html
html
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Work+Sans:400,800&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/forms.css')
  body
    .container
      include nav
      != messages()
      block content
    footer.nb-footer &copy; 2020 - Node Blog Inc.
    script(src="/javascripts/main.js")