img.nb-logo(src="/images/nb-logo.svg" alt="NodeBlog Logo")
nav.nb-nav
  ul.nb-nav-ul
    li
      a.nb-nav-link(href="/") Home
    li
      a.nb-nav-link(href="/posts/add") Add Post
    li
      a.nb-nav-link(href="/categories/add") Add Category
    li
      a.nb-nav-link(href="/about") About
  ul.nb-nav-ul.alt
    li
      a.nb-nav-link.link2(href=' ')
        svg.reload
          use(xlink:href="/images/sprites/solid.svg#sync")